*{
    margin: 0px;
    padding: 0x;
    box-sizing: border-box;
}

.main-container {
    /* background-color: rgb(0, 255, 42); */
    height: 100vh;
}

nav {
    background-color: black;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    height: 90%;
    /* background-color: cadetblue; */
}


.container {
    /* background-color: aqua; */
    height: 95%;
}

.implementation {
    /* background-color: rgb(249, 145, 10); */
    height: 70%;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: ;
    max-height: 70%;
    /* min-height: 60%; */
}

/* .show{
    background-color: brown;
    margin: 20px;
    height: 95%;
} */

.boxes {
    margin: 20px;
}

.buttons {
    /* background-color: blueviolet; */
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* margin: 20px; */
    /* min-height: 40%; */
}

/* .button{
    background-color: chocolate;
    margin: 20px;
    height: 95% ;
} */

.size {
    margin: 20px;
}

.operation {
    margin: 20px;
}

.buttons button {
    height: 4rem;
    width: 7rem;
    margin: 0px 10px;
    border-radius: 5px;
    font-weight: 800;
}
.btn-enqueue {
    background-color: #04AA6D
}

.btn-enqueue:ho {
    background-color: #04AA6D
}

.btn-dequeue {
    background-color: #f44336;
}

.btn-reset {
    background-color: #555555;
}

.buttons button:hover {background-color: #3e8e41}

.buttons input {
    height: 4rem;
    width: 15rem;
    margin: 0px 10px;
}

.box {
            display: inline-block;
            height: 60px;
            min-width: 60px;
            background-color: lightblue;
            border: 1px solid black;
            text-align: center;
            line-height: 50px;
            margin-right: 10px;
            margin-top: 20px;
            white-space: nowrap; /* Prevents text from wrapping */
            overflow: hidden;
            text-overflow: ellipsis;
            border-radius: 10px;
            padding: 5px;
            font-weight: 800;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
        }